<aside class="sidebar left">
  <h3>Categories</h3>
  <ul>
    <li><a href="#"><i class="fas fa-film"></i> Movies</a></li>
    <li><a href="#"><i class="fas fa-tv"></i> TV Shows</a></li>
    <li><a href="#"><i class="fas fa-window-restore"></i> Applications</a></li>
    <li><a href="#"><i class="fas fa-gamepad"></i> Games</a></li>
    <li><a href="#"><i class="fas fa-music"></i> Music</a></li>
    <li><a href="#"><i class="fas fa-dragon"></i> Anime</a></li>
    <li><a href="#"><i class="fas fa-book"></i> Books</a></li>
    <li><a href="#"><i class="fas fa-file-video"></i> Documentaries</a></li>
    <li><a href="#"><i class="fas fa-file"></i> Others</a></li>
  </ul>
</aside>
