<aside class="sidebar right">
  <h3>Quick Links</h3>
  <ul>
    <li><a href="#">Top Torrents</a></li>
    <li><a href="#">Latest Uploads</a></li>
    <li><a href="#">Verified Content</a></li>
    <li><a href="#">Seed Bonus Program</a></li>
    <li><a href="#">Help Center</a></li>
  </ul>
</aside>
