<footer>
  <ul>
    <li><a href="#">Rules</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Legal</a></li>
  </ul>
  <p>
    Site Mirrors:
    <a href="#">torrentsite.org</a> |
    <a href="#">torrentsite.net</a>
  </p>
</footer>
